<h1>Log In</h1>

<%= form_with model: @user, url: '/sessions' do |f| %>

  <%= f.label :email %>
  <%= f.email_field :email, class: 'form-control' %>

  <%= f.label :password %>
  <%= f.text_field :zip_code, class: 'form-control' %>

  <%= f.submit "Log in", class: "btn btn-primary" %>
<% end %>
