<%= form_with url: '/votes' do |form| %>
  <fieldset>
    <legend>Cast your vote today!</legend>

    <%= form.collection_radio_buttons :candidate_id, @candidates, :id, :name do |button| %>
      <label>
        <%= button.radio_button %>
        <%= button.label %>
      </label>
    <% end %>
  </fieldset>

  <%= form.submit "Vote" %>
<% end %>

<p>
  Or, add a new candidate:
</p>

<%= form_with model: @candidate_fields, url: '/candidates' do |form| %>
  <%= form.text_field :name %>
  <%= form.submit %>
<% end %>
